body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 5;
}
.navbar {
  height: 5em;
  background-color: white;
}
.fa-compass {
  color: #432426;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
/*footer*/
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  height: 4rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/*card*/
.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
impor .card-body {
  padding: o !important;
}

.card-text p {
  font-weight: 400;
}
.listing-link {
  text-decoration: none;
}
/* Card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  color: white;
  background-color: white;
}
.add-btn {
  background-color: rgb(87, 14, 14) !important;
  border: none !important;
}
